
<div class="container mt-5">
  <!-- Page heading -->
  <h2 class="text-center text-white">Angular Pipe Summary</h2>

  <div class="row">
    <div class="col-10 offset-1 text-white font-weight-bold">
      <!-- Character limit: 50 (default) -->
      <p class="mb-3 alert alert-info text-center">{{title | summary}}</p> 

      <!-- Character limit: 100 -->
   
      <p class="mb-3 alert alert-dark text-center">{{title | summary:100}}</p> 

      <!-- Word limit: 3 -->
     
      <p class="mb-3 alert alert-warning text-center">{{ title | summary:3:'word'}}</p> 
    </div>
  </div>
</div>






























<!-- 
 <app-navbar></app-navbar>
<div class="container mt-2">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

