<div class="container mt-4">
  <div class="row g-3">
    <!-- Input field column -->
    <div class="col-12 col-md-5 offset-md-1">
      <div class="form-group">
        <input 
          [(ngModel)]="searchText"
          type="text"
          class="form-control"
          placeholder="Search from any category">
      </div>
    </div>

    <!-- Select dropdown column -->
    <div class="col-12 col-md-5">
      <div class="form-group">
        <select [(ngModel)]="searchField" class="form-control">
          <option value="playerName">Player Name</option>
          <option value="country">Country</option>
          <option value="goals">Goals</option>
          <option value="assists">Assists</option>
          <option value="debutYear">Debut Year</option>
        </select>
      </div>
    </div>

    <!-- Table column -->
    <div class="col-12 mt-2">
      <div class="table-responsive">
        <table class="table table-bordered text-center text-white">
          <thead class="bg-dark text-white">
            <tr>
              <th>Sr No</th>
              <th>Player Name</th>
              <th>Country</th>
              <th>Goals</th>
              <th>Assists</th>
              <th>Debut Year</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of footPlayerArr | search:searchText:searchField; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ player.playerName }}</td>
              <td>{{ player.country }}</td>
              <td>{{ player.goals }}</td>
              <td>{{ player.assists }}</td>
              <td>{{ player.debutYear }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>























 

 <div class="container my-5">
  <div class="row">
    <div class="col-6 offset-3 text-white">

      50 characters by default
      <p>{{title|summary}}</p> 

      100 characters
      <p>{{title|summary:100}}</p> 

        
      30 words
    <p>{{ title | summary:3:'word' }}</p> 
  </div>
  </div>
</div> 
 





























<!-- 
 <app-navbar></app-navbar>
<div class="container mt-2">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

