<!-- <div class="not-found-container">
  <h1>404</h1>
  <h2>Oops! Page Not Found</h2>
  <p>The page you're looking for doesn't exist or has been moved.</p>
  <button routerLink="/">Go to Homepage</button>
</div> -->


<!-- ---------------------------------------------------------- -->

<div class="not-found-wrapper">
  <div class="not-found-content">
    <h1 class="error">404</h1>
<h1>Oops! Page Not Found</h1>
<p>Looks like you took a wrong turn… but don't worry, we’ll help you get back on track.</p>
<!-- <a href="/" class="btn-primary">Go to Homepage</a> -->
<p style="margin-top: 15px; font-size: 14px; color: rgb(236, 230, 230);">
You can also explore our latest products, trending offers, or search for what you need!
</p>
    <button routerLink="/users" class="pageBtn">Go To Lists</button>
  </div>

  <div class="not-found-bg">
      <div class="stars"></div>
      <div class="planet"></div>
</div>
</div>



<!-- <div class="page-404-container">
  <div class="content">
    <h1>404</h1>
    <h2>Page Not Found</h2>
    <p>Sorry, the page you're looking for doesn't exist or has been moved.</p>
    <button routerLink="/">Back to Home</button>
  </div>
</div> -->
